@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

@layer base {
  /* *:focus-visible {
    @apply outline-gray-500
  } */

    input {
    @apply input outline outline-1 outline-gray-400
  }

  label {
    @apply text-sm text-gray-800
  }

  h2 {
    @apply text-xl font-extrabold text-gray-900
  }

  p {
    @apply text-sm tracking-wide text-gray-700 
  }

  .panel {
    @apply shadow-lg p-10 bg-white rounded-xl;
  }

  .btn-green {
    @apply bg-green-500 text-white px-5 py-1.5 rounded-md transition-all hover:shadow-lg
  }

  .btn-blue {
    @apply bg-blue-500 text-white px-5 py-1.5 rounded-md transition-all hover:shadow-lg
  }

    .btn-red {
    @apply bg-red-500 text-white px-5 py-1.5 rounded-md transition-all hover:shadow-lg
  }
}