@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter";
}

.c-gray {
  color: #4b5563;
}

.bc-gray {
  background: #F9FAFB;
}

.c-black {
  color:#000000
}

@layer base {
  input {
    @apply input outline outline-1 outline-gray-400;
  }

  label {
    @apply text-sm c-black;
  }

  h1{
    @apply text-2xl font-bold c-black
  }

  h2 {
    @apply text-xl font-bold c-black;
  }

  h3 {
    @apply text-xl font-bold c-black
  }

  p {
    @apply text-sm tracking-wide c-gray;
  }

  .panel {
    @apply shadow-lg p-10 bg-white rounded-xl;
  }

  .btn {
    @apply !h-10 !min-h-10 !tracking-wide !rounded-xl;
  }

  .btn-primary {
    @apply !text-white;
  }

  .btn-success {
    @apply !text-white !bg-green-500;
  }

  .btn-error {
    @apply !text-white !bg-red-500;
  }
}
